<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We will be right back.</h1>
    <p>Hi, the website is currently under maintanance, check back soon.</p>

    {{> footer}}
  </body>
</html>
